:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primari-background-color: #ffffff;
  --accent-color: #2196f3;
}
header{
  border-bottom: 1px solid #F5F5F5;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primari-background-color);
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

img{
display: block;
min-width: 100%;
  }

.site-nav .link.current {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 0.03em;

  text-decoration: none;
  padding-top: 24px;
  

}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.list {
  list-style: none;
}

.web {
  color: var(--accent-color);
  
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  /* outline: 2px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section.no-padding {
  padding-top: 0;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 93px;
  

}



.site-nav .link{
  margin-right: 50px;
}


.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

header .container{
  display:flex;
  align-items: center;
  

}
header nav{
  display:flex;
}

.site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  
  text-decoration: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;

}
.site-contact .link{
  margin-left: 50px;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;

}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}
.section-hero {
  background-color: #2f303a;
  padding-bottom: 200px;
}
.section-hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primari-background-color);
  padding-top: 106px;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 216px;
  min-height: 50px;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
.btn-portfolio-list {
  display: flex;
  margin-bottom: 50px;


justify-content: center;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  min-height: 25px;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.btn-portfolio-list .btn-portfolio{
  margin-right: 8px;
  min-height: 38px;
  padding-right: 22px;
  padding-left: 22px;
}

/* портфоліо */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.projects .item {
  flex-basis: calc((100% - 60px) / 3);
  padding: 0;
}
.item-description{
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-right: 24px;
}
.item-name{
font-weight: 700;
font-size: 18px;
line-height: 2;

  
padding-top: 20px;
  margin-bottom: 4px;
}
.item-typename{
 margin-bottom: 20px;
color: var(--secondary-text-color);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9
}




.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
  /* якості */
.quality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;

}

.qualitys .item{
min-width: 270px;
margin-right: 30px;
}
.qualitys .item:nth-child(4n){
  margin-right: 0;
}
.qualitys{
  display: flex;
  justify-content: space-between;
}
.quality-discription {
  font-family: 'Roboto';  
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
  /* }чи ми займаємось */

.work-list{
  display: flex;
 }
.work-list .photo{
  margin-right: 30px;
}
.work-list .photo:nth-child(3){
  margin-right: 0;
}
  /* наша команда */
  .team-list{
display: flex;
margin: auto;

  }
  .team-list .item{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
  }
  .team-list .item:nth-child(4n){
    margin-right: 0;
  }



.work-heading,
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}
/* секція команда */
.section-team {
  background-color: #f5f4fa;
}

.face {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: center;
  padding-top:30px;
  margin-bottom: 10px;
 

}
.face-position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
/* зкидання left padding для ul у футері */
.footer-contact-list.list {
  padding-left: 0px;
}

.footer-contact-map {
  font-style: normal;
  font-size: 14px;
  /* line-height: 1.7; */
  line-height: 1.7;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 9px;
  display: inline-block;
}
.footer-contact-mailtel {
  font-style: normal;
  font-size: 14px;
  /* line-height: 1.7; */
  line-height: 1.7;
  text-decoration: none;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
  display: inline-block;
}
.footer-contact-mailtel.nopadding {
  padding-bottom: 0px;
}
.footer-contact-map:hover,
.footer-contact-mailtel:hover,
.footer-contact-map:focus,
.footer-contact-mailtel:focus {
  color: var(--accent-color);
}
